<html>

<head>
	<title> Tela Alterar - Questões </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
	<script src="../../lib/jquery.js"></script>
	<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
	<table class="table table-condensed" style="width: 600px">
		<tr>
			<td> <b> Questão: </b> <br>
				<!-- <textarea name="questao" rows="10" cols="50"> -->
				{questao}
				<!--</textarea>-->
			</td>
			<td> <b> Resposta: </b><br>
				<!--<textarea name="resposta" rows="10" cols="50">
			--> {resposta}
				<!--</textarea>-->
			</td>
		</tr>
		<tr>
			<td colspan="2"> <b> Tags: </b> <br>
				<!-- BEGIN tags -->
				<input disabled="disabled" type="checkbox" name="vetTag[]" value="{id}" {checked}> {tag} <br>
				<!-- END tags -->
			</td>
		</tr>
		<tr>
			<td colspan="2"> 			<a class="btn btn-info"  href="./../questoes/index.php" />  Voltar </a>
			</td>
		</tr>
	</table>
	</form>
</body>

</html>