<html>
	<head>
		<title> Tela Inserir - Questões </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
		<script src="../../lib/jquery.js"></script>
		<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
<form action="inserir.php" method="post">
	<table class="table table-condensed" style="width: 600px">			
		<tr> 
			<td> Tag: </td>  
			<td> <input type="text" name="tag"></td> 
		</tr> 					
		<tr> 
			<td colspan="2">				
				<input class="btn btn-primary" type="submit" value="Adicionar" /> 
			</td> 
		</tr>
	</table>		
</form>
</body>
</html>